.wrapper {
  display: flex;
  justify-content: center;
  position: fixed;
  z-index: 10;
}
.content {
  position: fixed;
  justify-content: center;
  align-items: center;
  top: 15%;
  z-index: 5;
  display: flex;
  ul {
    list-style: none;
  }
  li {
    width: 100%;
  }
}
.close {
  position: fixed;
  right: 15%;
  bottom: 12%;
  font-size: 3rem;
  z-index: 5;
  cursor: pointer;
  background: #400d6f;
  box-shadow: #38ff00 0px 0px 5px 0px;
  border-radius: 50%;
  height: 67px;
  width: 67px;
  &:hover {
    transform: scale(0.93);
    cursor: pointer;
  }
}

.active {
  text-decoration: none;
}
