.menu {
  background: #400d6f;
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 2rem;
  height: 50px;
  box-shadow: 0px 0 5px 0px rgba(84, 234, 42, 0.5019607843);

  &__title {
    font-size: 2rem;
    cursor: pointer;
    text-shadow: 0 1px 8px rgba(84, 234, 42, 0.72);
  }
}
.active {
  text-decoration: none;
}
