@import "../../../mixins.scss";

.chart {
  padding-top: 1rem;
  display: flex;
  justify-content: space-around;
  @include atSmall {
    flex-wrap: wrap;
    & > * {
      margin-bottom: 1rem;
      flex: 45%;
    }
  }
  &-container {
    background: #400d6f;
    text-align: center;
    padding: 1rem;
  }
}
