@import "../../mixins.scss";

.current-weather {
  flex: 45%;
  text-align: left;
  p {
    text-transform: capitalize;
  }
  &-card {
    max-width: 50rem;
    margin: 1rem auto 5rem;
    padding: 1rem 5rem;
    background: #400d6f;
    display: flex;
    flex-direction: column;
    text-align: center;
    @include atSmall {
      margin: 1rem 1rem 5rem;
      padding: 1rem 2rem;
    }
    &-content {
      display: flex;
      justify-content: space-between;
      @include atSmall {
        flex-direction: column;
      }
    }
    &-header {
      display: flex;
      justify-content: space-between;
      h4 {
        align-self: flex-end;
        opacity: 0.7;
      }
    }
    &-info > * {
      margin-bottom: 0.5rem;
    }
  }
  &-card > * {
    margin-bottom: 1rem;
  }
  &-info {
    display: flex;
  }
  &-extra {
    flex-basis: 45%;
    align-self: center;
    @include atSmall {
      align-self: unset;
      margin-top: 1rem;
    }
    div {
      border-bottom: none;
      @include atSmall {
        border-bottom: solid 1px #54ea2a;
      }
    }
  }
  &-details {
    display: flex;
    justify-content: space-between;
    @include atSmall {
      flex-direction: column;
    }
  }
  &-details > * {
    flex-basis: 45%;
  }
}
.detail-item {
  display: flex;
  justify-content: space-between;
  border-bottom: solid 1px #54ea2a;
  height: 2rem;
  margin-bottom: 0.5rem;
}
